<!DOCTYPE html>
<html lang="en">
<head>
    <script>   
     window.addEventListener('pageshow',function(event){
        console.log(event.persisted);
        if(event.persisted){
            
            window.location.reload(true);
        }
    });</script>

    <% if(message=='insufficiant balance'){ %>
        <script>
            alert('<%= message %>');
        </script>
    <%}%>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="module" src="script.js"></script>
   <link rel="stylesheet" href="maincss.css">
   <script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="out">
        <button class="b1" onclick="window.location.href='transaction.html'">TRANSACTION HISTORY</button>
        <button class="b1" onclick="window.location.href='chartmonthly.html'">MONTHLY EXPENSE</button>
        <button class="b1" onclick="window.location.href='chartyearly.html'" >YEARLY EXPENSE</button>
        <button class="b1" onclick=" window.location.href=''" >DELETE ACCOUNT ?</button>
    </div>
    <form action="/main" method="post">
     <div id="main">
           <div class="txtcont">
            <input id="inp" type="text" name="items" list="items" placeholder="eg :groceries,fruits">
            <datalist id="items" >
                <option>food and groceries</option>
                <option>child expense</option>
                <option>housing expense</option>
                <option>miscellaneous</option>
            </datalist>
            </div>
            <input  onfocus="function2()" type="text" name="amount" id="amt" placeholder="enter the amount">
            <div id="scanner"  onclick="function1()">
            <video id="webcam" autoplay playsinlne width="800" height="600"></video>
        </div>
       <input  id="ibl" type="text" name="upi_id" placeholder=" eg: xxx@ibl    or   yyy@axl">
       <button id="pay" ><b>PAY</b></button>
    </div>
    </form>
    <script>
        function function1()
        {
            
            document.getElementById("webcam").style.display="inline";
    const webcame=document.getElementById("webcam");
    const webcam =new Webcam(webcame);
    webcam.start();
        }
        function function2()
        {
            document.getElementById("webcam").style.display="none";
        }

    </script>
    <form action="/logout" method="post">
   <button>
   <a><i class="fa-solid fa-right-from-bracket" style="font-size: 1.75em;"></i></a>
</button>
    </form>
</body>
</html>
